server:
  port: 8081
spring:
  application:
      name: music_server
  profiles:
    active: dev
  #数据库配置
  datasource:
    url: jdbc:mysql://localhost:3306/music_project?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&allowMultiQueries=true&tinyInt1isBit=false&allowLoadLocalInfile=true&allowUrlInLocal
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  mail:
    host: smtp.qq.com
    port: 465
    username: 236394090@qq.com
    password: tmwsrifoyuclecea
    properties:
      mail:
          smtp:
              auth: true
              socketFactory:
                class: javax.net.ssl.SSLSocketFactory
              starttls:
                enable: true
  redis:
    host: localhost
    port: 6379
    lettuce:
      pool:
        max-idle: 10
        max-active: 10
        min-idle: 1
        time-between-eviction-runs: 10s

  jackson:
    default-property-inclusion: non_null
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

mail:
  address: 236394090@qq.com

# MyBatis-Plus配置
mybatis-plus:
    type-aliases-package: com.zfq.model
    configuration:
        map-underscore-to-camel-case: true

logging:
  level:
    com.zfq: debug


aliyun:
  oss:
      endpoint: oss-cn-beijing.aliyuncs.com
      accessKeyId: ${ALIYUN_ACCESS_KEY_ID}
      accessKeySecret: ${ALIYUN_ACCESS_KEY_SECRET}
      bucketName: java-zfq-web01







