server:
  port: 8081
spring:
  application:
      name: music_server
    #数据库配置
  datasource:
    url: jdbc:mysql://localhost:3306/music_project?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true&zeroDateTimeBehavior=convertToNull&transformedBitIsBoolean=true&allowMultiQueries=true&tinyInt1isBit=false&allowLoadLocalInfile=true&allowUrlInLocal
    username: root
    password: 1
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
      host: localhost
      port: 6379
      lettuce:
        pool:
          max-idle: 10
          max-active: 10
          min-idle: 1
          time-between-eviction-runs: 10s

  jackson:
    default-property-inclusion: non_null

# MyBatis-Plus配置
mybatis-plus:
    type-aliases-package: com.zfq.model
    configuration:
        map-underscore-to-camel-case: true

logging:
  level:
    com.zfq: debug




